<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="30 seconds" debug="true">
    <contextName>neptune</contextName>

    <!-- 日志输出级别 -->
    <property name="LEVEL" value="info"/>

    <!-- 读取配置文件配置 -->
    <property name="LOG_HOME" value="logs/service"/>
    <property name="DEFAULT_PATTERN"
              value="%d %-5level [TxId : %X{PtxId} , SpanId : %X{PspanId}] [%X{ctxTraceId}][%X{ctxEventId}] [%thread] %logger{5} - %msg%n"/>
    <property name="CHARSET" value="UTF-8"/>

    <!-- 控制台日志输出 -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${DEFAULT_PATTERN}</pattern>
        </encoder>
    </appender>
    <!-- 默认日志输出文件 -->
    <appender name="DEFAULT" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_HOME}/default.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_HOME}/%d{yyyyMMdd}/default.log</fileNamePattern>
            <maxHistory>30</maxHistory>
            <cleanHistoryOnStart>true</cleanHistoryOnStart>
        </rollingPolicy>
        <encoder>
            <pattern>${DEFAULT_PATTERN}</pattern>
            <charset>${CHARSET}</charset>
        </encoder>
    </appender>

    <!-- 默认日志 -->
    <root level="${LEVEL}">
        <appender-ref ref="ERROR"/>
        <appender-ref ref="DEFAULT"/>
        <appender-ref ref="SERVICE"/>
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>